/* CSS Style Sheet for my personal website */
body {
	background: rgba(0, 128, 0, 0.1);
	font-family: "Calibri, sans-serif";
}

#header {
	background: grey
}

#contactInfo {
	background: cornflowerblue
}